<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Online Coach</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body class="container full-height-grow">
  <header class="main-header">
    <a href="/" class="brand-logo">
      <img src="/img/logo.png" />
      <div class="brand-logo-name">OnlineCoach</div>
    </a>
    <nav class="main-nav">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/price">Pricing</a></li>
      </ul>
    </nav>
  </header>
  <section class="home-main-section">
    <div class="img-wrapper">
      <div class="fitness-trainer-img"></div>
    </div>
    <div class="call-to-action">
      <h1 class="title">Online Coaching Platform</h1>
      <span class="subtitle">All the tools you need as an online coach</span>
      <a href="/join" class="btn">Join Now</a>
    </div>
  </section>
</body>

</html>